<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .target {
            background-color: orange;
        }
    </style>
</head>
<body>
    <ul>
<!--/*
        <li th:each="dto : ${list}">
            [[${dto}]]
        </li>
*/-->
<!--/*
        <li th:each="dto, state : ${list}">
            [[${state.index}]] === [[${dto}]]
        </li>
*/-->
<!--/*
        <li th:each="dto : ${list}" th:if="${dto.sno % 5 == 0}">
            [[${dto}]]
        </li>
*/-->
<!--/*
        <li th:each="dto : ${list}">
            <span th:if="${dto.sno % 5 == 0}" th:text="${'&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;' + dto.sno}"></span>
            <span th:unless="${dto.sno % 5 == 0}" th:text="${dto.first}"></span>
        </li>
*/-->
<!--/*
        <li th:each="dto : ${list}" th:text="${dto.sno % 5 == 0} ? ${dto.sno}"></li>
*/-->
<!--/*
        <li th:each="dto : ${list}" th:text="${dto.sno % 5 == 0} ? ${dto.sno} : ${dto.first}"></li>
*/-->
<!--/*
        <li th:each="dto : ${list}" th:class="${dto.sno % 5 == 0} ? 'target'" th:text="${dto}"></li>
*/-->
<!--/*
        <th:block th:each="dto : ${list}">
            <li th:text="${dto.sno % 5 == 0} ? ${dto.sno} : ${dto.first}"></li>
        </th:block>
*/-->
<!--/*
        <li th:each="dto : ${list}">
            [[${#numbers.formatInteger(dto.sno, 5)}]]
        </li>
*/-->

        <li th:each="dto : ${list}">
            [[${dto.sno}]] --- [[${#temporals.format(dto.regTime, 'yyyy/MM/dd')}]]
        </li>
    </ul>
</body>
</html>